<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "GithubOath" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul>
      <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
      <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
        <li><%= live_redirect("LiveDashboard", to: Routes.live_dashboard_path(@conn, :home)) %></li>
      <% end %>
      <%= if @conn.assigns[:user] do %>
        <li><%= live_redirect("Logout", to: Routes.auth_path(@conn, :signout)) %></li>
      <% else %>
        <li>
          <%= live_redirect("Sign in with Github", to: Routes.auth_path(@conn, :request, "github")) %>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
